<h1>Enter your new link</h1>
<form action ="/save_link" method='post'>
  Title: <input type="text" name="title">
  URL: <input type="text" name="url">
      <input type="submit" value="Submit" name="Add_link">
</form>
